body {
    background: rgb(250, 235, 215);
    

}

h1 {

    color: rgb(220, 20, 60);
}

label {
    padding: 10px;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
}